@import "./variables.scss";
@import "./mixin.scss";

*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.card {
    @include box-shadow;
    width:300px;
    position: relative;
    //flex-direction: column;
    min-width: 200px;
    word-wrap: break-word;
    background-clip: border-box;
    color: #333333;
    margin: 10px 10px 60px ;
    z-index: 1;
    border: 0 none;
    background-color: #fff;
    border-radius: $border-radius;
    >img {
      max-width: 20%;
      height: auto;
    }
    .travel-hotel-card {
      width: 20%;
      text-align: center;
      position: relative;
      border-radius: $border-radius;
      padding: 0;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 100px;
    }
    img {
        vertical-align: middle;
        border-style: none;
        border-radius: $border-radius;
    }
    .travel-hotel-card__header{
        &>img {
        width: 100%;
        }
        &--fav {
            width: 35px;
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 2;
        }
    }
    .travel-hotel-card__body {
        background: aqua;
        width: 95%;
        margin: 0 auto;
        position: absolute;
        bottom: -50px;
        left: 50%;
        opacity:0.9;
        transform: translateX(-50%);
        padding: 15px 0;
        border-radius: $border-radius;
      .info-box {
        text-align: left;
      }
    }
    .hotel-stars {
        width: 7.5rem;
        height: 1.5rem;
        overflow: hidden;
        display: inline-block;
        margin: 0.25rem 0 -0.125rem;
        & > div {
            float: left;
            height: 1.5rem;
            background: url(./img/icons/icon-star-large-yellow-sm.svg) repeat-x;
        }
    }
    .hotel-stars--sm {
        width: 4.7rem;
        height: 0.9rem;
        background: url(./img/icons/icon-star-large-gray-sm.svg) repeat-x;
    }
    .grey {
        color: gray !important;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }

    .col-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .position-relative {
        position: relative;
    }
    .no-padding {
        padding: 0px !important;
    }
    .btn {
        color: gold;
        height: 40px;
        padding: 6px 2.5rem;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        border-radius: 20px;
        border: none;
        line-height: 1.5rem;
        transition: all 0.3s ease;
        background: transparent;
        position: relative;
        margin-right: 15px;
    }
    .travel-btn-circle-arrow-right {
        padding: 0;
        border-radius: 20px;
        width: 40px;
        position: relative;
        height: 40px;
        background: linear-gradient(to top right, #ffb369 0%, rgba(27, 148, 226, 1), #F4A772);
        @include box-shadow;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .position-absolute {
        position: absolute;
    }

    .bottom-0 {
        bottom: 3px;
        right: 8px;
    }
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}
.red-box {
  background: red;
}

.grey-box {
  background: green;
}